
body {
    background-color: 2a2263;
    margin: auto;
    padding: auto;
}

main {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Montserrat",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Philosopher",sans-serif;
}

#headerfotogede .inazumagede {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10%;
}

#headerfotogede {
    background-image:url("../assets/1160737.jpg");
    color: white;
    padding: 7.3rem;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.buttonref li a, .buttonref li {
    color: #fff;
    text-decoration: none;
    font-family: "Philosopher", sans-serif;
    list-style: none;
    background-color: 2a2263;
    display: inline-block;
    padding: 5px;
    border-radius: 25px;

}

.buttonref li a:hover {
    color: #333;
    transition: 0.5s ease-in-out;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.navbar {
    background-color: 2a2263;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;

}

nav {
    display: unset;
    overflow: visible;
}

main {
    background-color: 2a2263;
    margin: auto;
    width: 100%;
    padding: auto;
}

#introduction {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.intro1 {
    display: flex;
    align-items: center;
}

.intro1h2 {
    writing-mode: vertical-lr;
    rotate: 180deg;
    
}

.intro1 img, .intro2 img {
    border-radius: 15px;
}

.intro2 {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-around;
    align-items: center;
}


#islands {
    padding: 5%;
}

#islands img, p, h1 {
    width: 55%;
    color: white;
}

.narukami, .kannazuka, .yashiori, .watatsumi, .seirai, .tsurumi {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
}


.bpnarukami, .bpkannazuka, .bpyashiori, .bpwatatsumi, .bpseirai, .bptsurumi {
    display: flex;
    flex-flow: column-reverse;
    width: 45%;
    align-items: center;
}

#islands button {
    width: 20%;

}